* {
    font-family: 'Patrick Hand SC', cursive, 'Times New Roman', Times, serif;
}

body {
    height: 100vh;
    background-color: #CD001A;
}


.header {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: last baseline;
    gap: 72px; 
    color: #ffd700;
    text-shadow: 2px 2px black;
}

.title {
    font-size: 40px;
}

.side {
    font-size: 20px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 540px;
    margin: auto;
    background-color: black;
    border-radius: 10px;
}

.grid-square {
    flex: 1 0 auto;
}

.knobs {
    display: flex;
    justify-content: space-between;
    margin: -50px 300px;
}

.knobs > .btn {
    color: lightgray;
    background-color: white;
    text-align: center;
    vertical-align: center;
    line-height: 75px; 
    height: 75px;
    width: 75px;
    border-radius: 50%;
    box-shadow: 5px 5px;
}